.container {
  padding: 10px;
  margin: auto;
  width: 50%;
  text-align: center;
  border: 1px solid rgba($color: #d3d3d3, $alpha: 0.5);
  min-height: 600px;

  img:nth-child(1) {
    width: 12rem;
    height: auto;
  }

  h3 {
    text-align: left;
    margin: 5px;
  }

  .create-monster-container {
    .atk-def-images {
      width: 25px;
      height: auto;
      margin-bottom: -8px;
      margin-right: 4px;
    }
  }

  form {
    width: 100%;
    text-align: center;

    input,
    select,
    button {
      cursor: pointer;
    }

    input:focus,
    select:focus,
    button:focus {
      outline: 1px solid black;
      padding: 3px;
    }
    div:nth-child(1),
    div:nth-child(5) {
      display: block;
      text-align: center;
    }

    div:nth-child(3),
    div:nth-child(4) {
      padding: 0 10px;
      margin-top: 15px;

      display: inline-block;
    }

    .selector-width {
      width: 220px;
      margin: 0;
      padding: 0;
    }
    button {
      margin-top: 15px;
    }
  }

  .element-images {
    margin-top: 15px;
    img {
      width: 45px;
      height: auto;
      padding: 0 5px;
    }
  }

  .new-monster-container-element {
    border: 1px solid rgba($color: #d3d3d3, $alpha: 0.5);
    display: grid;
    grid-template-columns: 15% 75% 10%;
    gap: none;
    text-align: left;
    padding: 10px;
    margin-bottom: 5px;

    img {
      width: 60px;
      height: auto;
      margin-left: 20%;
    }
    .new-monster-info {
      margin-top: 1%;
      margin-left: 2%;

      div {
        margin-top: 5px;
        img {
          width: 18px;
          height: auto;
          margin-right: 5px;
          margin-left: 0;
        }
        span {
          margin-right: 10px;
        }
      }
    }

    .delete {
      border: none;
      cursor: pointer;
      background-color: #000;
      width: 40px;
      height: 40px;
      margin: 11px 0 0 20%;
      img {
        margin: 0;
        width: 30px;
      }
    }
  }
}
